.topic{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 40px;
    margin-right: 60px;
}
li a{
    text-decoration: none;
    color: white;
}
h4{
    margin-left: 60px;
    color: white;
    text-transform: uppercase;
}
.container{
    margin: 0 auto;
  
}
.btn--1{
    width: 120px;
    padding: 8px;
    cursor:pointer;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
.btn--3{
    width: 120px;
    padding: 8px;
    cursor:pointer;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
.flex-area{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.shift{
    width: 100px;
 }
.frame{
    width: 100px;
}
.newcouch{
    width: 550px;
    position: relative;
    right: 150px;
    top: 80px;
    /* margin-left: -70px; */
    /* padding-right: 300px; */
}
.furniture{
    color: white;
    margin-left: 60px;
}
.btn--2{
    width: 90px;
    padding: 8px;
    cursor:pointer;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(42, 90, 42, 0.573);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.images{
    margin-right: 250px;
}
@media(max-width: 500px){
     .flex-area{
        display: block;
     }
}
@media(max-width: 500px){
    .furniture{
       /* display: block; */
       font-size: 60px;
       text-align: center;
    }
}
@media(max-width: 500px){
    .images{
       text-align: center;
       margin-left: 150px;
       margin-top: 30px;
    }
}
@media(max-width: 500px){
    .container{
       width: 800px;
    }
}
@media(max-width: 500px){
    .buttons{
       display: grid;
       justify-content: center;
       /* width: 500px; */
    }
}
@media(max-width: 500px){
    .btn--1{
       width: 500px;
       padding: 20px;
       margin-bottom: 10px;
    }
}
@media(max-width: 500px){
    .btn--2{
       width: 500px;
       padding: 20px;
    }
}
.buttons{
    margin-top: 70px;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
}
@media(max-width: 500px){
    .container1{
       display: block;
       max-width: 800px;
       /* justify-content: center; */
       margin-left: 250px;
    }
}
.lamp{
    width: 100px;
}
@media(max-width: 500px){
    .newcouch{
       margin-left: 100px;
    }
}
.container-first{
    background-color:  rgba(42, 90, 42, 0.573);
}
@media(max-width: 500px){
    .lamp{
       width: 400px;
    }
}
@media(max-width: 500px){
    .title{
       font-size: 100px;
       width: 400px;
    }
}
@media(max-width: 500px){
    .sub{
       font-size: 30px;
       width: 400px;
    }
}
